.detail-card {
	display: flex;
	margin: auto;
	margin-top: 10vh;
	padding: 30px;
	width: 90%;
	height: 400px;
}
.detail-card img {
	display: block;
	width: 100%;
	height: 100%;
	margin: auto;
	object-fit: contain;
}

.side-1 {
	width: 60%;
	background-color: #fff;
	background-color: transparent;
}
.side-2 {
	width: 40%;
	margin-right: 5%;
}
.side-2 .description {
	font-size: 1.5em;
}
.side-2 .price {
	font-size: 2.5em;
	font-family: "Montserrat", sans-serif;
  font-weight: 900;
}
.side-2 > p {
	height: 30%;
	text-align: center;
}
.side-2 > * {
	margin: auto
}