.back-button {
	margin: 20px;
	margin-bottom: 10px;
	display: inline-block;
	font-size: 1.5em;
	font-weight: bold
}
.category p {
	display: inline-block;
	margin: 0 5%;
	padding: 7px;
	color: rgb(0, 132, 255);
	font-weight: 500;
	border: 1px solid #e6e6e6;
	border-radius: 5px
}
.detail-card {
	display: flex;
	margin: auto;
	margin-top: 2vh;
	margin-bottom: 60px;
	padding: 30px;
	width: 90%;
	height: 500px;
	box-shadow: 
	0 2px 4px 0 rgba(0, 0, 0, 0.2), 
	0 3px 10px 0 rgba(0, 0, 0, 0.1);
}
.detail-card img {
	display: block;
	width: 100%;
	height: 100%;
	margin: auto;
	object-fit: contain;
}

.side-1 {
	width: 60%;
	background-color: #fff;
	background-color: transparent;
}
.side-2 {
	width: 40%;
	margin-left: 5%;
}
.side-2 .title {
	font-size: 1.5em;
	text-align: left;
}
.side-2 .description {
	text-align: left;
	margin: 10px 5px;
}
.side-2 .price {
	font-size: 2.5em;
	font-family: "Montserrat", sans-serif;
	font-weight: 900;
	display: flex;
	justify-content: center;
	align-items: center;
}
.side-2 > p {
	height: 20%;
	text-align: center;
}
.side-2 > * {
	margin: auto
}