* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.navBar {
	padding: 30px 30px;
}

.ulStyles {
	list-style: none;
	display: flex;
	height: max-content;
	justify-content: space-around;
}
